.footer-btn {
  color : rgb(49, 46, 46);
  background-color: white;/*rgba(255, 222, 121, 0.96);*/
  border-radius: 10px 0 0 10px;
  font-size: 16px;
  margin:2px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-btn:not([disabled]):hover {
  background-color: rgba(107, 103, 91, 0.96);
  color: white;
}

.footer-btn[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

md-toolbar{
	min-height: 10px;
}