<md-card md-theme-watch> 
<!-- 	<md-card-title>  -->
<!-- 		<md-card-title-media> -->
<!-- 			<div class="card-media"> -->
<!-- 			</div> -->
<!-- 		</md-card-title-media>  -->
<!-- 		<md-card-title-text layout-padding></md-card-title-text>  -->
<!-- 	</md-card-title>  -->
	<md-card-content> 
		<div layout-gt-sm="row" layout="column" layout="center center" style="direction:{{direction}}">
			<!--Search -->
			<md-input-container class="md-icon-float md-block" flex="30">
				<label translate>search keyword</label>
			    <input ng-model="ngModel.searchWord" type="text" 
			    	ng-keyup="$event.keyCode == 13 ? action() : null">
			    <wb-icon>search</wb-icon>
		    </md-input-container>
			<!-- Filter -->
			<div layout-gt-xs="row" layout="column" flex="30">
				<md-input-container flex>
		        	<label translate>filter by</label>
		          	<md-select name="filterKey" ng-model="ngModel.filterBy">
		            	<md-option value="" translate></md-option>
		            	<md-option value="name" translate>name</md-option>
		            	<md-option value="size" translate>size</md-option>
		            	<md-option value="download" translate>downloads</md-option>
		            	<md-option value="creation_dtime" translate>creation date</md-option>
		            	<md-option value="modif_dtime" translate>update date</md-option>
		            	<md-option value="type" translate>type</md-option>
		            	<md-option value="mime_type" translate>mime type</md-option>
		            	<md-option value="price" translate>price</md-option>
		          	</md-select>
		        </md-input-container>
				<md-input-container flex>
		          	<label translate>filter value</label>
		          	<input name="filterValue" ng-model="ngModel.filterValue" ng-disabled="!ngModel.filterBy">
		        </md-input-container>
			</div>
			<!-- Sort -->
			<div layout-gt-xs="row" layout="column" flex="30">
				<md-input-container flex>
		        	<label translate>sort by</label>
		          	<md-select name="sortKey" ng-model="ngModel.sortBy">
		            	<md-option value="" translate></md-option>
		            	<md-option value="name" translate>name</md-option>
		            	<md-option value="size" translate>size</md-option>
		            	<md-option value="download" translate>downloads</md-option>
		            	<md-option value="creation_dtime" translate>creation date</md-option>
		            	<md-option value="modif_dtime" translate>update date</md-option>
		            	<md-option value="type" translate>type</md-option>
		            	<md-option value="price" translate>price</md-option>	
		          	</md-select>
		        </md-input-container>
		        <md-input-container flex>
					<label translate>sort type</label>
		          	<md-select name="sortType" ng-model="ngModel.sortType" ng-disabled="!ngModel.sortBy">
		            	<md-option value="a" translate>asc</md-option>
		            	<md-option value="d" translate>desc</md-option>
		          	</md-select>
		        </md-input-container>
			</div>
			<md-button class="md-raised md-primary" style="margin:auto;" ng-click="action()"><span translate>search</span></md-button>
		</div>
	</md-card-content> 
</md-card>