<md-toolbar class="sdp-top-toolbar" hide show-gt-sm>
  	<div class="md-toolbar-tools" layout-align="start center">
  	
		<!-- right side of top toolbar -->
		<md-button 
			ng-repeat="menu in sdpItems | orderBy:['priority']"
			ng-if="menu.visible()"
			ng-click="menu.active()"
			ng-href="{{menu.link}}">
			{{menu.label | translate}}
		</md-button>
  	
		<span flex></span>
		
		<!-- left side of top toolbar -->
		<!--  Search Panel -->
	    <md-input-container ng-show="showSearch">
	      	<input ng-model="temp.query" ng-keyup="$event.keyCode == 13 ? search(temp.query) : null">
	    </md-input-container>
	    <md-button aria-label="search" ng-show="!showSearch" ng-click="showSearch = true">
	  		<wb-icon>search</wb-icon>
		</md-button>
	    <md-button aria-label="search" ng-show="showSearch" ng-click="temp.query ? search(temp.query) : null">
	  		<span translate>search</span>
		</md-button>
		<md-button aria-label="back" ng-show="showSearch" ng-click="showSearch = false">
	      	<wb-icon>arrow_back</wb-icon>
	    </md-button>
	</div>
</md-toolbar>