<div ng-include="'views/partials/sidenav.html'"></div>
<!-- <div ng-include src="'views/partials/toptoolbar.html'"></div> -->
<sdp-top-toolbar
	sdp-search="search"
	sdp-items="rhmenu.items"></sdp-top-toolbar>
<div ng-include src="'views/partials/maintoolbar.html'"></div>