<div ng-cloak>
	<md-toolbar class="md-menu-toolbar">
		<md-menu-bar class="sdp-main-menubar">
			<div layout="row" layout-align="start center">
				
				<!-- Brand & Logo -->
				<md-button class="brand-btn" ng-href="/" >
					<img src="images/logo.png" alt="{{'HitechMonitor' | translate}}"></img>
				</md-button>

				<span flex></span>

				<!-- manual dropdowns (registered already in controller) -->
				<md-menu hide show-gt-sm
					ng-repeat="menu in dropdown.items | orderBy:['priority']"
					md-position-mode="target-right bottom">
					<md-button
						aria-label="{{menu.title | translate}}"
						ng-click="openMenu2($mdMenu, $event)">
						<b class="caret"></b> {{menu.title | translate}}
					</md-button>
					<md-menu-content width="4">
						<md-menu-item ng-repeat="menuItem in menu.items">
							<md-button ng-href="{{menuItem.url}}" style="text-align: right;">
								{{menuItem.title | translate}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			
				<!-- automatic dropdown (asset folders without parent) -->
				<!-- 
				<md-menu hide show-gt-sm
					ng-repeat="asset in rootItems"
					ng-if="asset.type == 'folder'"
					md-position-mode="target-right bottom">
						<md-button ng-href="/#!/folder/{{asset.id}}"
							aria-label="{{asset.name | translate}}"
							ng-click="openMenu($mdOpenMenu, $event)">
							<b class="caret"></b> {{asset.name | translate}}
						</md-button>
						<sdp-asset-dropdown ng-model="asset"></sdp-asset-dropdown>
				</md-menu>
				-->
				
				<!-- automatic dropdown (categories without parent) -->
				<md-menu hide show-gt-sm
					ng-repeat="category in rootCategories"
					md-position-mode="target-right bottom">
						<md-button ng-href="#!/category/{{category.id}}"
							aria-label="{{category.name}}"
							ng-click="openMenu2($mdMenu, $event)">
							<b class="caret"></b> {{category.name}}
						</md-button>
						<md-menu-content width="4"">
							<sdp-category-dropdown ng-model="category"></sdp-category-dropdown>
						</md-menu-content>
				</md-menu>
			
				<md-button
				    aria-label="menu"
				    ng-click="toggleSidenav('sdpMainSidenav')"
				    class="md-icon-button">
						<wb-icon>menu</wb-icon>
				</md-button>
			
				<!-- نمایش زبان‌های مورد حمایت -->
				<md-menu ng-if="languages.length>1">
					<md-button
						aria-label="Open phone interactions menu"
						ng-click="openMenu2($mdMenu, $event)">
						{{'language' | translate}}
					</md-button>
					<md-menu-content width="4">
						<md-menu-item ng-repeat="lang in languages">
							<md-button ng-click="changeLanguage(lang.key)">
								{{language.title | translate}}
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-menu-bar>
	</md-toolbar>
</div>

