<!-- منوی بغل -->
<!-- این ساختار منوی اصلی بغل سیستم را ایجاد می‌کند که در آن یه سری عمل سیستم و اطلاعات
کلی کاربر وجود دارد. در این ساختار یک نمونه با نام زیر استفاده می‌شود که توسط
برنامه قابل تنظیم است:

- sidebar

این منو باید در کنترلر تعیین شود. -->
<md-sidenav
	class="site-sidenav md-sidenav-right md-whiteframe-z2"
	md-component-id="sdpMainSidenav"
	ng-click="toggleSidenav('sdpMainSidenav')"
	aria-label="Show User List"
	md-is-locked-open="false"
	style="background-color:white">
  <md-toolbar
		layout="column"
		layout-align="center center">
<!-- 		<img src="images/logo.png" width="128"></img> -->
    	<h1 translate></h1>
  </md-toolbar>
  <md-content layout="column">
  	<md-button
      	data-ng-repeat="category in rootCategories | orderBy:['priority']:true"
		layout="row" 
		layout-align="end center"
		layout-fill
		ng-href="#!/category/{{category.id}}"
		aria-label="{{category.name}}"
		ng-click="openMenu($mdOpenMenu, $event)">
      <div class="md-tile-content">
        {{category.name}}
      </div>
      <div hide-sm hide-md class="md-tile-content">
        <wb-icon>folder</wb-icon>
      </div>
    </md-button>
    <md-button
      	data-ng-repeat="menu in sidebar.items | orderBy:['priority']:true"
		layout="row" 
		layout-align="end center"
		layout-fill
     	data-ng-show="menu.visible()"
		ng-click="menu.active()"
		ng-href="{{menu.link}}">
      <div class="md-tile-content">
        {{menu.label | translate}}
      </div>
      <div hide-sm hide-md class="md-tile-content">
        <wb-icon>{{menu.icon}}</wb-icon>
      </div>
    </md-button>
  </md-content>
</md-sidenav>
