<!-- صفحه ارسال توکن پسوورد -->
<md-content
	layout="column"
	layout-align="none"
	layout-align-gt-sm="none center"
	flex>
	<div md-whiteframe="3"
		flex="none"
		layout="column">
		<!-- Toolbar -->
		<md-toolbar 
			layout-padding
			layout="column"
			layout-align="space-around center">
			<img 
				ng-src="{{app.config.brand.logo}}"
				height="80px"
				width="auto" />
			<div>
				<h3 style="font-weight:normal;">{{app.config.brand.title}}</h3>
			</div>
		</md-toolbar>
		<!-- body -->
		<div layout-padding> 
			<h3 translate>recover password</h3>
			<p translate>recover password description</p>
		</div>
		<div layout-padding> 
			<p ng-show="tokenSuccess">
				<span md-colors="{color:'primary'}" translate>token is sent</span>
			</p>
		</div>
		<form
			name="form"
			ng-submit="sendToken(credit)" 
			layout="column" 
			layout-padding>
			<div layout="row" layout-padding>
				<md-input-container layout-fill>
					<label translate>email</label>
					<input name="email" ng-model="credit.email" type="email"/>
					<div ng-messages="form.email.$error">
		              <div ng-message="email" translate>email is not valid</div>
		            </div>
				 </md-input-container>
			</div>
	        <input hide type="submit" />
	        <div>
	        	<md-button layout-fill 
	        		ng-disabled="(credit.email === undefined && credit.login === undefined) || form.email.$invalid"
	        		class="md-primary md-raised" 
	        		ng-click="sendToken(credit)">{{'send recover mail' | translate}}</md-button>
       		</div>
		</form>
        <div layout="column" layout-align="center none"
        	layout-gt-xs="row" layout-align-gt-xs="end center">
        	<md-button 
        		ng-href="#!/users/login"
        		flex-order="0" 
        		class="md-raised">{{'login' | translate}}</md-button>
        	<md-button 
        		ng-href="#!/users/signup"
        		flex-order="0" 
        		class="md-raised">{{'sign up' | translate}}</md-button>
        </div>
	</div>
</md-content>