<md-content 
	class="md-padding"
	layout-padding
	flex
	amh-preloading="ctrl.loadUser || ctrl.loadProfile || ctrl.saveProfile">
	
	<div layout-gt-sm="row" layout="column">
		<!-- Contacts -->
		<section 
			flex-gt-sm="50" 
			layout="column" 
			md-whiteframe="1"
			layout-margin>
			<h3 translate>contacts information</h3>
			<form
				name="contactForm"
				layout="column" 
				layout-padding>
				<md-input-container layout-fill>
			        <label translate>site</label>
			        <input ng-model="ctrl.profile.site">
			    </md-input-container>
				<md-input-container layout-fill>
			        <label translate>public email</label>
			        <input name="email" ng-model="ctrl.profile.email" type="email">
			        <div ng-messages="contactForm.email.$error">
		              	<div ng-message="email">This is required.</div>
		            </div>
			    </md-input-container>
			    <md-input-container layout-fill>
			        <label translate>phone number</label>
			        <input ng-model="ctrl.profile.phone">
			    </md-input-container>
			    <md-input-container layout-fill>
			        <label translate>mobile number</label>
			        <input ng-model="ctrl.profile.mobile">
			    </md-input-container>
			</form>
		</section>
		
		<!-- How to familiar -->
		<section 
			flex-gt-sm="50"
			layout="column" 
			md-whiteframe="1"
			layout-margin>
			<h3 translate>other information</h3>
			<form
				name="otherForm"
				layout="column" 
				layout-padding>
				<md-input-container layout-fill class="md-block">
			        <label translate>education</label>
			        <md-select ng-model="ctrl.profile.education">
						<md-option ng-repeat="item in ctrl.educations" 
							value="{{item}}">{{item}}</md-option>
					</md-select>
			    </md-input-container>
			    <div layout-padding style="min-height: 20px"></div>
			    <md-input-container layout-fill class="md-block">
			        <label translate>how to familiar</label>
			        <md-select name="howToFamiliar" ng-model="ctrl.profile.familiar_medium" required>
						<md-option ng-repeat="item in ctrl.familiar_mediums" 
							value="{{item}}">{{item}}</md-option>
					</md-select>
					 <div ng-messages="otherForm.howToFamiliar.$error">
		              	<div ng-message="required">This is required.</div>
		            </div>
			    </md-input-container>
		    </form>  
		</section>
		
	</div>
	
	
	<div layout-gt-sm="row" layout="column" layout-wrap>
		<!-- Activities -->
		<section 
			flex-gt-sm="100" 
			layout="column" 
			md-whiteframe="1"
			layout-margin>
			<h3 translate>activity field</h3>
			<form
				name="educationForm"
				layout="column" 
				layout-padding>
				<fieldset name="activities" class="standard" class="md-block" form="educationForm" required>
					<legend translate>activity fields</legend>
					<div layout-xs="column" layout="row" layout-wrap>
						<div flex-gt-xs="50" flex-gt-sm="25" 
							ng-repeat="item in ctrl.activity_fields">
							<md-checkbox 
								ng-checked="exists(item, ctrl.selectedActivities)" 
								ng-click="toggle(item, ctrl.selectedActivities)">
							  	{{item}}
							</md-checkbox>
						</div>
					</div>
					<div ng-messages="educationForm.activities.$error">
		              	<div ng-message="required">This is required.</div>
		            </div>
		        </fieldset>
			</form>
		</section>
	
		<!-- Favorites -->
		<section 
			flex-gt-sm="100" 
			layout="column" 
			md-whiteframe="1"
			layout-margin>
			<h3 translate>favorites</h3>
			<form ng-repeat="(cat, items) in ctrl.favorite_items"
				layout="column" 
				layout-padding>
				<fieldset name="activities" class="standard" class="md-block">
					<legend>{{cat}}</legend>
					<div layout-xs="column" layout="row" layout-wrap>
						<div flex-gt-xs="50" flex-gt-sm="25"
							ng-repeat="item in items">
							<md-checkbox 
								ng-checked="exists(item, ctrl.selectedFavorites)" 
								ng-click="toggle(item, ctrl.selectedFavorites)">
							  	{{item}}
							</md-checkbox>
						</div>
					</div>
		        </fieldset>
			</form>
		</section>
		
	</div>
	
	<div layout="column" layout-align="center none"
     			layout-gt-xs="row" layout-align-gt-xs="end center">
    	<md-button 
    		 class="md-raised md-primary"
    		 ng-click="save()">
<!-- 			<wb-icon>save</wb-icon> -->
    		<sapn translate>update</sapn>
    	</md-button>
    </div>
</md-content>
