<!-- صفحه ثبت نام کاربر -->
<md-content 
	layout="column" 
	layout-align="none"
	layout-align-gt-sm="none center" 
	flex>
	<div md-whiteframe="3"
		flex="none"
		layout="column">
		<!-- Toolbar -->
		<md-toolbar 
			layout-padding
			layout="column"
			layout-align="space-around center">
			<img 
				ng-src="{{app.config.brand.logo}}"
				height="80px"
				width="auto" />
			<div>
				<h3 style="font-weight:normal;">{{app.config.brand.title}}</h3>
			</div>
		</md-toolbar>
		<!-- body -->
		<form ng-show="app.user.anonymous"
			name="form"
			ng-submit="signup(registerData)"
			layout="column"
			ayout-padding>
			<div layout-padding> 
				<h3 translate>sign up</h3>
			</div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill>
					<label translate>register-form-email</label>
					<input name="email" ng-model="registerData.email" type="email" required/>
					<div ng-messages="form.email.$error">
		              	<div ng-message="required" translate>This is required.</div>
		              	<div ng-message="email" translate>email is not valid</div>
		            </div>
				 </md-input-container>
			</div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill>
					<label translate>password</label>
					<input name="password" ng-model="registerData.password" type="password" required/>
					<div ng-messages="form.password.$error">
		              <div ng-message="required" translate>This is required.</div>
		            </div>
			     </md-input-container>
			</div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill>
					<label translate>repeat password</label>
					<input name="password2" ng-model="repeatPassword" type="password" compare-to="registerData.password" required/>
					<div ng-messages="form.password2.$error">
		              	<div ng-message="required" translate>This is required.</div>
		              	<div ng-message="compareTo" translate>password is not match.</div>
		            </div>
			     </md-input-container>
			</div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill>
					<label translate>first name</label>
					<input name="firstName" ng-model="registerData.first_name" type="text" required/>
					<div ng-messages="form.firstName.$error">
		              <div ng-message="required" translate>This is required.</div>
		            </div>
				</md-input-container>
			</div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill>
					<label translate>last name</label>
					<input name="lastName" ng-model="registerData.last_name" type="text" required/>
					<div ng-messages="form.lastName.$error">
		              <div ng-message="required" translate>This is required.</div>
		            </div>
				</md-input-container>
			</div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill>
			        <label translate>mobile number</label>
			        <input name="mobileNumber" ng-model="registerData.profile.mobile">
			    </md-input-container>
			</div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill class="md-block">
			        <label translate>education</label>
			        <md-select ng-model="registerData.profile.education">
						<md-option ng-repeat="item in ctrl.educations" 
							value="{{item}}">{{item}}</md-option>
					</md-select>
			    </md-input-container>
			</div>
			<div layout="row" layout-padding style="min-height: 20px"></div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill class="md-block">
			        <label translate>how to familiar</label>
			        <md-select name="howToFamiliar" 
			        	ng-model="registerData.profile.familiar_medium" required>
						<md-option ng-repeat="item in ctrl.familiar_mediums" 
							value="{{item}}">{{item}}</md-option>
					</md-select>
					<div ng-messages="form.howToFamiliar.$error">
		              	<div ng-message="required" translate>This is required.</div>
		            </div>
			    </md-input-container>
			</div>		
			<div layout="row" layout-padding style="min-height: 20px"></div>
			<div layout="row" layout-padding>
				<md-input-container layout-fill class="md-block">
			        <label translate>activity field</label>
			        <md-select name="activityField" 
			        	ng-model="ctrl.selectedActivities" multiple required>
						<md-option ng-repeat="item in ctrl.activity_fields" 
							value="{{item}}">{{item}}</md-option>
					</md-select>
					<div ng-messages="form.activityField.$error">
		              	<div ng-message="required" translate>This is required.</div>
		            </div>
			    </md-input-container>
			</div>	
			<div layout="row" layout-padding style="min-height: 20px"></div>
			<div layout="row" layout-padding>
				<wb-ui-setting-searchable-select layout-fill class="md-block"
					label="favorites"
					searchable="true"
					search-placeholder="{{'search' | translate}}"
					ng-model="ctrl.selectedFavorites"
					options="ctrl.favorite_items">
				</wb-ui-setting-searchable-select>
<!-- 				<md-input-container layout-fill class="md-block"> -->
<!-- 			        <label translate>favorites</label> -->
<!-- 			        <md-select ng-model="ctrl.selectedFavorites" multiple> -->
<!-- 			        	<md-select-header class="phoenix-select-header"> -->
<!-- 							<input id="md-select-search-input" ng-model="searchTerm" -->
<!-- 								type="search" -->
<!-- 								placeholder="search" -->
<!-- 								class="md-select-header-searchbox md-text"> -->
<!-- 				        </md-select-header> -->
<!-- 			        	<md-optgroup ng-repeat="(cat, items) in ctrl.favorite_items" -->
<!-- 			        		label="{{cat}}"> -->
<!-- 							<md-option ng-repeat="item in items | filter:searchTerm"  -->
<!-- 								value="{{item}}">{{item}}</md-option> -->
<!-- 							</md-optgroup> -->
<!-- 					</md-select> -->
<!-- 			    </md-input-container> -->
			</div>
			<div layout="row" layout-padding>
	        	<span md-colors="{color:'default-warn'}" translate>{{signupMessage}}</span>
	        </div>
			<div layout="column" layout-align="none"
	        	layout-gt-xs="row" layout-align-gt-xs="center center"
	        	layout-padding>
	        	<a 
	        		href="#!/users/login"
	        		style="text-decoration: none;"  
	        		ui-sref="forget" 
	        		flex-order="1" 
	        		flex-order-gt-xs="-1">{{'have you already account?' | translate}}</a>
				<md-button 
					flex-order="0" 
					flex-order-gt-xs="0"
					class="md-raised" 
					ng-href="#!/users/login">{{'login' | translate}}</md-button>
				<md-button 
					flex-order="-1" 
					flex-order-gt-xs="1"
					ng-disabled="form.$invalid"
					type="submit" 
					ng-click="signup(registerData)"
					class="md-raised md-primary">{{ 'sign up' | translate }}</md-button>
			</div>
		</form>
		<div layout-padding ng-show="!app.user.anonymous" 
        	layout="column" layout-align="none center">
        	<img
		    	width="150px" height="150px" ng-show="!uploadAvatar"
		    	ng-src="{{app.user.current.avatar}}" />
		    <h3>{{app.user.current.login}}</h3>
        	<p translate>you are loged in. go to one of the following options.</p>
        </div>
		<div ng-show="!app.user.anonymous" 
        	layout="column" layout-align="none"
        	layout-gt-xs="row" layout-align-gt-xs="center center"
        	layout-padding>
        	<md-button 
        		ng-href="/"
        		flex-order="-1" 
        		flex-order-gt-xs="1" 
        		md-no-ink
        		class="md-raised"><wb-icon>home</wb-icon> {{'main page' | translate}}</md-button>
        	<md-button 
        		ng-click="back()"
        		flex-order="0" 
        		flex-order-gt-xs="0" 
        		class="md-raised"><wb-icon>settings_backup_restore</wb-icon> {{'back page' | translate}}</md-button>
        	<md-button 
        		ng-href="#!/users/user-area"
        		flex-order="1" 
        		flex-order-gt-xs="-1" 
        		class="md-raised"><wb-icon>account_circle</wb-icon> {{'user area' | translate}}</md-button>
        </div>
	</div>
</md-content>