<section style="direction:ltr" amh-preloading="ctrl.loadingAssets">
	<sdp-asset-slider 
		ng-model="ctrl.assets"
		displayed="wbModel.slider.displayed" per-slide="wbModel.slider.perSlide"
		displayed-xs="wbModel.slider.displayedXs" per-slide-xs="wbModel.slider.perSlideXs" 
		displayed-sm="wbModel.slider.displayedSm" per-slide-sm="wbModel.slider.perSlideSm"
		displayed-md="wbModel.slider.displayedMd" per-slide-md="wbModel.slider.perSlideMd" 
		autoplay="wbModel.slider.autoplay"
		time-interval="wbModel.slider.timeInterval"
		transition-duration="wbModel.slider.transitionDuration"
		direction="wbModel.slider.direction"
		animation="wbModel.slider.animation"
		loop="wbModel.slider.loop"
		pause-on-hover="wbModel.slider.pauseOnHover"		
		hide-nav="wbModel.slider.hideNav" nav-on-hover="wbModel.slider.navOnHover"
		hide-pager="wbModel.slider.hidePager" pager-on-hover="wbModel.slider.pagerOnHover"
		swipable="wbModel.slider.swipable">
	</sdp-asset-slider>
</section>