<md-dialog aria-label="Favorite Item" ng-cloak>
	<form flex layout="column" ng-action="answer(config.model)">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>New Favorite Item</h2>
				<span flex></span>
				<md-button 
					class="md-icon-button" 
					ng-click="answer(config.model)">
					<wb-icon aria-label="close">done</wb-icon>
				</md-button>
				<md-button 
					class="md-icon-button" 
					ng-click="cancel()">
					<wb-icon aria-label="close">close</wb-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content layout="column" layout-padding style="padding-top: 20px;">
			<md-input-container>
				<label>Category</label>
				<input ng-model="config.model.category"></input>
			</md-input-container>
			<md-input-container>
				<label>Name</label>
				<input ng-model="config.model.name"></input>
			</md-input-container>
		</md-dialog-content>
    </form>
</md-dialog>

