<div layout="column" flex layout-padding>
	<h2>Social Networks</h2>
	<p>Here you can manage links to your social networks.</p>
	<md-list-item layout="row">
	    <wb-icon>facebook</wb-icon>
	    <md-input-container class="md-block" flex>
	    	<label translate>Facebook</label>
			<input ng-model="app.config.sociallinks.facebook" />
		</md-input-container>
	</md-list-item>
	<md-list-item layout="row">
	    <wb-icon>instagram</wb-icon>
	    <md-input-container class="md-block" flex>
	    	<label translate>Instagram</label>
			<input ng-model="app.config.sociallinks.instagram" />
		</md-input-container>
	</md-list-item>
	<md-list-item layout="row">
	    <wb-icon>g+</wb-icon>
	    <md-input-container class="md-block" flex>
	    	<label translate>Google Plus</label>
			<input ng-model="app.config.sociallinks.googleplus" />
		</md-input-container>
	</md-list-item>
	<md-list-item layout="row">
	    <wb-icon>linkedin</wb-icon>
	    <md-input-container class="md-block" flex>
	    	<label translate>LinkedIn</label>
			<input ng-model="app.config.sociallinks.linkedin" />
		</md-input-container>
	</md-list-item>
	<md-list-item layout="row">
	    <wb-icon>twitter</wb-icon>
	    <md-input-container class="md-block" flex>
	    	<label translate>Twitter</label>
			<input ng-model="app.config.sociallinks.twitter" />
		</md-input-container>
	</md-list-item>
	<md-list-item layout="row">
	    <wb-icon>telegram</wb-icon>
	    <md-input-container class="md-block" flex>
	    	<label translate>Telegram</label>
			<input ng-model="app.config.sociallinks.telegram" />
		</md-input-container>
	</md-list-item>
</div>
