<div layout="column" flex layout-padding>
	<h2>Theme Palettes</h2>
	<p>Here you can set your preferred color palettes for your site. To define below palettes you should enter
	data in JSON format. We suggest see this link
		<a href="http://mcg.mbitson.com" alt="link to palette generator site">http://mcg.mbitson.com</a>,
		to get appropriate palette.
	</p>
	<div layout="row">
		<div layout="column" flex="25">
		    <h3 translate>Primary Palette</h3>
		    <md-input-container class="md-block">
				<textarea ng-model="ctrl.primary" />
			</md-input-container>
		</div>
		<div layout="column" flex="25">
		    <h3 translate>Accent Palette</h3>
		    <md-input-container class="md-block">
				<textarea ng-model="ctrl.accent" />
			</md-input-container>
		</div>
		<div layout="column" flex="25">
		    <h3 translate>Warn Palette</h3>
		    <md-input-container class="md-block">
				<textarea ng-model="ctrl.warn" />
			</md-input-container>
		</div>
		<div layout="column" flex="25">
		    <h3 translate>Background Palette</h3>
		    <md-input-container class="md-block">
				<textarea ng-model="ctrl.background" />
			</md-input-container>
		</div>
	</div>
	<md-button class="md-primary md-raised" ng-click="save()">Save</md-button>
	<md-button class="md-accent md-raised" ng-click="save()">Save</md-button>
</div>
