<div layout="column" layout-fill>
	<md-content layout="column" flex>
		<div ng-if="error == 404" ng-include src="'views/partials/404.html'"></div>
		<div ng-if="error == 0" ng-include src="'views/asset/asset-info.html'"></div>
		<div ng-if="error == 403" layout="column" layout-align = "center center" flex>
			<h3 style="text-align:center;" translate>{{errorMessage}}</h3>
		</div>
		<section ng-show="error == 0 && relateds && relateds.items.length>0" style="direction: ltr;">
			<div md-whiteframe="4" class="md-no-sticky md-subheader" style="direction: rtl;">  
				<div class="md-subheader-inner">
					<div class="md-subheader-content">{{'relateds' | translate}}</div>  
				</div>
			</div>
			<sdp-asset-slider 
				displayed="6" per-slide="6"
				displayed-xs="1" per-slide-xs="1"
				displayed-sm="3" per-slide-sm="3"
				displayed-md="4" per-slide-md="4"
				autoplay="true"
				nav-on-hover="true"
				animation="'slide'"
				ng-model="relateds"></sdp-asset-slider>
		</section>
		<div ng-include src="'views/partials/footer.html'"></div>
	</md-content>
</div>




