<div layout="column" layout-fill>
<!-- 	<div ng-include src="'views/partials/header.html'"></div> -->
	<md-content wb-infinate-scroll="nextPage" flex>
		<div ng-if="error == 404" ng-include src="'views/partials/404.html'"></div>
		<div ng-if="error == 0" layout="column">
			<!-- پنل جستجو -->
<!-- 			<div layout="column" flex> -->
<!-- 				<sdp-asset-filter direction="rtl" ng-model="searchParam" action="advancedSearch"></sdp-asset-filter> -->
<!-- 			</div> -->
			<div layout="column" flex>
				<!-- نمایش اطلاعات دسته مربوطه -->
				<div ng-if="category !== undefined" ng-include="'views/asset/category-info.html'"></div>
				<!-- نمایش زیردسته‌های مربوطه -->
				<div ng-include="'views/asset/category-list.html'"></div>
				<!-- نمایش فرزندان دسته مربوطه -->
				<div ng-include="'views/asset/asset-list.html'"></div>
			</div>
		</div>
		<div ng-include src="'views/partials/footer.html'"></div>
	</md-content>
</div>