<div layout="column" layout-fill>
<!-- 	<div ng-include src="'views/partials/header.html'"></div> -->
	<md-content wb-infinate-scroll="nextPage" flex>
		<div layout="column" style="direction:rtl">
			<!-- پنل جستجو -->
<!-- 			<div layout="column" flex> -->
<!-- 				<sdp-asset-filter direction="rtl" ng-model="searchParam" action="advancedSearch"></sdp-asset-filter> -->
<!-- 			</div> -->
			<div layout="column" flex>
				<!-- نمایش اطلاعات پوشه مربوطه -->
				<div ng-if="asset !== undefined" ng-include="'views/asset/asset-info.html'"></div>
				<!-- نمایش فرزندان پوشه مربوطه -->
				<div ng-include="'views/asset/asset-list.html'"></div>
			</div>
		</div>
		<div ng-include src="'views/partials/footer.html'"></div>
	</md-content>
</div>