<div layout-fill>
<!-- 	<div ng-include src="'views/partials/header.html'"></div> -->
	<md-content layout="column" flex>
		<div style="text-align:center">
			<h1>Hitech Monitor</h1>
			<h2>Based on Cloud SDP (Sell Digital Products) Platform</h2>
		</div>
		<section>
			<div md-whiteframe="4" class="md-no-sticky md-subheader" 
				style="direction: rtl;text-align: center">  
				<div class="md-subheader-inner">
					<div class="md-subheader-content">{{'newest items' | translate}}</div>  
				</div>
			</div>
			<sdp-asset-slider 
				displayed="5" per-slide="5"
				displayed-xs="1" per-slide-xs="1"
				displayed-sm="2" per-slide-sm="2"
				displayed-md="4" per-slide-md="4"
				autoplay="true"
				animation="'fade'"
				ng-model="newest"></sdp-asset-slider>
		</section>
		<section>
			<div md-whiteframe="4" class="md-no-sticky md-subheader"
				style="direction: rtl;text-align: center">  
				<div class="md-subheader-inner">
					<div class="md-subheader-content">{{'most downloaded items' | translate}}</div>  
				</div>
			</div>
			<sdp-asset-slider 
				displayed="5" per-slide="5"
				displayed-xs="1" per-slide-xs="1"
				displayed-sm="2" per-slide-sm="2"
				displayed-md="4" per-slide-md="4"
				autoplay="true"
				animation="'slide'"
				ng-model="mostDownload"></sdp-asset-slider>
			<div ng-include src="'views/partials/footer.html'"></div>
		</section>
	</md-content>
</div>