<div layout-fill>
<!-- 	<div ng-include src="'views/partials/header.html'"></div> -->
	<md-content layout="column" flex>
		<div layout="column" layout-align="center center" ng-show="success">
			<table ng-show="!status.assetLoading" class="md-subhead" dir="rtl">
				<tbody>
					<tr><td translate>title</td><td>: {{asset.name}}</td></tr>
					<tr><td translate>size</td><td>: {{asset.size | fileVolume:1}}</td></tr>
	            	<tr><td translate>creation date</td><td>: {{asset.creation_dtime | pdate:'jYYYY/jMM/jDD'}}</td></tr>
	            	<tr><td translate>price</td><td>: {{asset.price | iranCurrency:'T'}}</td></tr>
            	</tbody>
			</table>
			<div layout="column" layout-align="center center" 
				ng-hide="!link.active">
				<p dir="rtl">{{'link_creation_message' | translate : translateParams}}</p>
				<a href="/api/sdp/download/{{link.secure_link}}">{{asset.name}}</a>
			</div>
			<md-button
			  	class="md-raised md-accent" 
		    	ng-href="/api/sdp/download/{{link.secure_link}}"
		    	ng-disabled="!link.active"
		    	style="margin-left:0;margin-right:0;">
		    	{{'click here to download' | translate}}
		    </md-button>
		</div>
		<div layout="column" layout-align="center center" ng-show="success && asset.price > 0 && !link.active" >
			<p dir="rtl" translate>insert discount code if you have</p>
			<div dir="rtl" layout="row" layout-align="center center">
				<md-input-container>
					<label translate style="text-align:center">discount code</label>
					<input style="text-align:center" ng-model="discountCode">
				</md-input-container>
				<md-button 
					class="md-raised"  
					ng-click="checkDiscount(discountCode)">{{'check discount' | translate}}</md-button>
		    </div>
			<p dir="rtl" translate>{{discount_message}}</p>
			<p dir="rtl" translate>select gate to pay</p>
			<div layout="column" layout-align="center center" ng-if="false">
				<p dir="rtl">{{error | translate}}</p>
			</div>
		    <div layout="row" layout-align="center center" ng-if="!status.gateLoading">
				<md-button ng-repeat="gate in gates"
				  	class="md-raised" 
			    	ng-click="pay(gate, discountCode)">
			    	<md-icon md-svg-src="{{gate.symbol}}"></md-icon>
			    	{{gate.title}}
			    </md-button>
			</div>
	    </div>
		<div layout="column" layout-align="center center" ng-if="!success">
			<p dir="rtl">{{error | translate}}</p>
		</div>
	    	
		<div ng-include src="'views/partials/footer.html'"></div>
	</md-content>
</div>




